<div class="header-container">
    <h1 id="current-page">
        Dashboard
    </h1>
    <div class="search-container">
        <form action="">
            <button type="submit"><i class="fa fa-search"></i></button>
            <input type="text" placeholder="Search something.." name="search">
        </form>
    </div>
    <div class="upgrade-container">
        <a href="" class="cta"><p>Upgrade</p></a>
        <button class="bell"><i class="fa solid fa-bell"></i></button>
    </div>
</div>


