<div class="rate-container">
    <div class="upper-rate">
        <h4>
            Bounce Rate
        </h4>
        <a href="">
            <i class="fa-sharp fa-solid fa-arrow-right"></i>
        </a>
    </div>
    <div class="middle-rate">
        <div class="date-wrapper midde-one">
            <span class="day">
                Mon
            </span>
            <span class="date">
                2
            </span>
        </div>
        <div class="date-wrapper middle-two">
            <span class="day">
                Tue
            </span>
            <span class="date">
                3
            </span>
        </div>
        <div class="date-wrapper midde-three">
            <span class="day">
                Wed
            </span>
            <span class="date">
                4
            </span>
        </div>
    </div>
    <div class="lower-rate">
        <span>
            <h1>
                23%
            </h1>
        </span>
        
        <div class="lower-rate-right">
            <h5>-10%</h5>
            <p>Since last day</p>
        </div>
    </div>
</div>
