body {
    background-color: var(--base-color);
    color: var(--font-color);
    text-decoration: none;
    
}

.main-container {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr 9fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}

.content-container {
    //border: 1px solid red;
    grid-column: 2;
    grid-row: 2;
    margin: 0;
    //padding: 0;
    padding-left: 15vw;
    padding-right: 15vw;
    position: relative;
    width: 52vw;
    //display: flex;
    margin-top: -90vh;
    margin-left: -2vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 4rem;
    //grid-row-gap: 2rem;
    justify-content: center;
    align-items: center;
}