<div class="sidebar-container" id="sidebar-container">
    <div class="logo-container">
        <img src="https://i.imgur.com/O1iV7Cj.png" alt="wise logo" srcset="">
        <h2 id="brand-name">
            Wise
        </h2>
    </div>
   <div class="profile-container">
        <!--<i class="fa-solid fa-user"></i>-->
        <img src="https://i.imgur.com/74ZnUDC.png" alt="">
        <h4 id="profile-name">
            Tobias Wenck
        </h4>
        <a href=""><p>Edit</p></a>
   </div>
   <div class="nav-bar">
        <ul>
            <li>
                <a href="">
                    <span><i class="fa-solid fa-layer-group"></i></span><p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="">
                    <span><i class="fa-solid fa-file-invoice"></i></span><p>Activity</p>
                </a>
            </li>
            <li>
                <a href="">
                    <span><i class="fa-solid fa-calendar-days"></i></span><p>Schedule</p>
                </a>
            </li>
            <li>
                <a href="">
                    <span><i class="fa-solid fa-sliders"></i></span><p>Settings</p>
                </a>
            </li>
        </ul>
   </div>
   <div class="switch-container">
        <div class="switch">
            <label class="switch switch-label" onclick="changeLightMode()">
                <p class="p-dark">Dark</p>
                <div id="slider" onclick="changeLightMode()">
                    <input type="checkbox" onclick="changeLightMode()">
                    <span onclick="changeLightMode()" class="slider round"></span>
                </div>
                <p class="p-light">Light</p>
            </label>
        </div>
   </div>
   
</div>
