.customer-container {
    height: var(--card-size);
    width: var(--card-size);
    background-color: var(--dark-gray);
    //z-index: 4;
    border-radius: 3rem;
    grid-row: 1;
    grid-column: 1;
    padding: var(--padding);
}

.customer-container h4 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    height: 10%;
}

.customer-chart-container {
    color: var(--font-color);
    width: 100%;
    height: 80%;
    margin-top: 10%;
}

::ng-deep .ngx-charts { 
    text{
        fill: var(--accent-gray)!important; 
        font-weight: 100;
    }
}

ngx-charts-bar-vertical {
    color: var(--font-color);
}

.customer-chart-container text { fill: var(--font-color); }